.clicked {
    background-color: #182B49;
}

.unclicked {
    background-color: white;
}

.subSections {
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}

.options {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: auto;
}