body {
    font-family: sans-serif;
}

.profileText {
    position: fixed;
    top: 56px;
    left: 170px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.icon {
    position: fixed;
    width: 70px;
    height: 70px;
    top: 100px;
    left: 160px;
    border-radius: 50%;
    border-color: white;
    object-fit: cover;
}

.backButton {
    position: fixed;
    top: 72px;
    left: 12px;
}

.editIconLabel {
    position: fixed;
    padding: 0;
    border: none;
    background: none;
    top: 176px;
    left: 168px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    line-height: 1.5;
}

.editIconButton {
    display: none
}

.inputForm {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 200px;
    left: 14px;
    width: 360px;
}

.inputFormLabel {
    color: #686868;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.inputFormField {
    color: #686868;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: thin;
    border-radius: 8px;
    font-size: 18px;
    padding: 6px 4px 6px 4px;
    margin: 10px 0px 10px 0px;
}

.inputAbout {
    color: #686868;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: thin;
    border-radius: 8px;
    font-family: inherit;
    font-size: 18px;
    padding: 6px 4px 6px 4px;
    margin: 10px 0px 6px 0px;
}

.submit {
    width: 358px;
    height: 50px;
    font-size: 14px;
    font-weight: 300;
    border-style: none;
    border-radius: 20px;
    color: white;
    background: #182B49;
}

.delete {
    position: relative;
    top: 778px;
    display: flex;
    width: 100%;
    height: 66px;
    margin: 4px 0;
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

.deleteIcon {
    position: relative;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 20px;
}

.deleteText {
    position: relative;
    left: 44px;
    top: 8px;
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.deleteHeader {
    color: #4E4E4E;
    font-size: 15px;
    font-weight: 500;
    margin: 2px;
}

.deleteSub {
    color: #686868;
    font-size: 12px;
    font-weight: 300;
    margin: 2px;
}